form {
    height: 34rem;
    border: .1rem solid #969696;
    background-color: #696969;
}

mat-form-field {
    width: 400px;
}

a{
    color: #919191;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    color: #fff;
}

#errorText {
    color: rgb(255, 116, 65);
    font-weight: bold;
}