<section>
    <form 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="1rem" 
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

        <mat-form-field>
            <input 
                type="email" 
                matInput 
                placeholder="Your email"
                name="email"
                required
                ngModel
                #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">
                Field should not be empty.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                type="password" 
                matInput 
                placeholder="Your password"
                name="password"
                required
                ngModel
                #passInput="ngModel"
                minlength="8">

            <mat-hint align="end">
                {{ passInput.value?.length }} / 8
            </mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                [matDatepicker]="picker"
                placeholder="Date of birth"
                name="birthDate"
                required
                ngModel>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox 
            color="primary" 
            name="acceptance"
            required
            ngModel>
            Accept ToS.
        </mat-checkbox>

        <button 
            type="submit" 
            mat-raised-button 
            color="primary"
            [disabled]="f.invalid">
            Submit
        </button>

        <mat-label id="errorText" *ngIf="errorExists">{{ errorText }}</mat-label>
        <a routerLink="/login">Go to login.</a>

    </form>
</section>